
.middle-5{
    position: relative;
    top: 1100px;
}

.middle-5_row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    padding-left: 138px;
    padding-right: 138px;
}

.markets{
    font-family: Craftwork Grotesk;
    font-size: 64px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;
}

.all-markets-btn{
    display: flex;
    flex-direction: row;
    align-items: end;
    position: relative;
    left: -7.5px;
}

.all-markets-btn p{
    cursor: pointer;
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(180deg, #625FF4 0%, #625FF8 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.all-markets-btn img{
    cursor: pointer;
    position: relative;
    left: 7.5px;
}

.middle-5_row-2{
    top: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;

    padding-left: 138px;
    padding-right: 138px;
}

.markets-column-1, .markets-column-2, .markets-column-3, .markets-column-4, .markets-column-5{
    display: flex;
    flex-direction: column;
}

.markets-column-title{
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: #6C7080;
    text-align: left;
    position: relative;
    top: -20px;
}

/* -------------------------markets-column-1------------------------- */

.markets-column-1{
    position: relative;
    left: -38px;
}

.markets-column-1 .token-info{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding-top: 33px;
    padding-bottom: 33px;
    align-items: center;
}

.token-icon img{
    width: 40px;
    height: 40px;  
}

.token-name{
    font-family: Craftwork Grotesk;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left; 
    padding-left: 18px;  
}

.token-info .token-btn{
    all: unset;
    position: relative;
    top: 4px;
    left: 5px;
    width: 50px;
    height: 24px;
    border-radius: 3px;
    gap: 10px;
    font-family: Proxima Nova;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

    padding: 4px, 12px, 3px, 12px;
    border-radius: 3px;
    gap: 10px;
    color: #625FF8;
    background-color: #0C0D10;
}

/* -------------------------markets-column-2------------------------- */

.markets-column-2{
    position: relative;
    left: -115px;
}

.markets-column-2 .last-prise-info, 
.markets-column-3 ._24h-pursantage-info, 
.markets-column-4 ._24h-vol-info, 
.markets-column-5 .graphs-info
{
    position: relative;
    display: flex;
    height: 40px;
    padding-top: 33px;
    padding-bottom: 33px;
}

.markets-column-2 .last-prise-info, 
.markets-column-4 ._24h-vol-info, 
.markets-column-5 .graphs-info
{
    justify-content: center;
}

.markets-column-3 ._24h-pursantage-info{
    align-items: center;
}

.markets-column-2 .last-prise-info{
    flex-direction: column;
}

.markets-column-2 .last-prise-info p, .markets-column-3 ._24h-pursantage-info p, .markets-column-4 ._24h-vol-info p, .markets-column-5 .graphs-info img{
    font-family: Proxima Nova;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    height: 24px;
}

/* -------------------------markets-column-3------------------------- */

.markets-column-3{
    position: relative;
    left: -115px;
}

.markets-column-3 ._24h-pursantage-info{
    flex-direction: row;
}

._24h-pursantage-info img{
    width: 24px;
    height: 24px;
    padding: 3px, 0px, 3px, 0px;
}

._24h-pursantage-info p{
    position: relative;
    left: 7.5px;
}

/* -------------------------markets-column-4------------------------- */

.markets-column-4{
    position: relative;
    left: -90px;
}

.markets-column-4 ._24h-vol-info{
    flex-direction: column;
}

/* -------------------------markets-column-5------------------------- */

.markets-column-5{
    position: relative;
}

.markets-column-5 .graphs-info{
    flex-direction: column;
}

.graphs-info img{
    /* width: 180.4px;
    height: 40px; */
    gap: 10px;
    transform: scale(1.6);
}



/* ----------------------------gorizontal-lines---------------------------- */

.market-gorizontal-line{
    position: absolute;
    width: 1590px;
    height: 1px;
    background-color: #FFFFFF26; 
}

.market-gorizontal-line-8{
    top: -45px;
}

.market-gorizontal-line-1{
    top: 25px;
}

.market-gorizontal-line-2{
    top: 125px;
}

.market-gorizontal-line-3{
    top: 230px;
}

.market-gorizontal-line-4{
    top: 335px;
}

.market-gorizontal-line-5{
    top: 445px;
}

.market-gorizontal-line-6{
    top: 550px;
}

.market-gorizontal-line-7{
    top: 665px;
}